/* Map */

@mixin choropleth($color) {
    fill: $color;
    &:hover {
        fill: #ffee57;
        opacity: 0.7;
    }
}

// pink-blue palette
$color-0: #dd2ea3;
$color-1: #ffafe5;
$color-2: transparentize(rgb(247,247,247), 0.3);
$color-3: #94e1ff;
$color-4: #18b4f1;

// brewer red-blue palette
// $color-0: rgb(202,0,32);
// $color-1: rgb(244,165,130);
// $color-2: rgb(247,247,247);
// $color-3: rgb(146,197,222);
// $color-4: rgb(5,113,176);


#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #444;
}

#d3svg {
    position: absolute;
}

.station_cell {
    stroke: white;
    stroke: black;
    stroke-opacity: 0.25;
    opacity: 0.5;
    @include transition(opacity 0.3s linear, fill 0.1s linear);
    &[data-bucket="0"] { @include choropleth($color-0); }
    &[data-bucket="1"] { @include choropleth($color-1); }
    &[data-bucket="2"] { @include choropleth($color-2); }
    &[data-bucket="3"] { @include choropleth($color-3); }
    &[data-bucket="4"] { @include choropleth($color-4); }
    &[data-state="loading"] {
        opacity: 0;
    }
    &[data-state="selected"] {
        stroke-width: 6;
        stroke-opacity: 0.75;
    }
}

#stationsGroup {
    fill: rgba(0,0,0,0.75);
    stroke: rgba(255,255,255,0.75);
    stroke-width: 1;
}
