@import "normalize";
@import "colorbrewer";

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.d3overlay {
    position: absolute;
}

#d3svg {
    position: absolute;
}

.station_cell {
    stroke: rgba(0,0,0,0.25);
    opacity: 0.5;

}

#stationsGroup {
    fill: white;
}


