@import "normalize";
@import "bourbon/bourbon";

@include font-face($font-family: "Almoni",
                   $file-path: "../fonts/almoni-dl-aaa-300",
                   $weight: 300,
                   $style: normal);

body {
    margin: 0;
    padding: 0;
    font-family: "Almoni";
    font-weight: 300;
}

@import "map";





