{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extra_head %}
  <link href='//api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet'>
{% endblock extra_head %}

{% block body %}
    <div id="map"></div>

    <div class="flyout" id="maininfo">
        <h1>Telostats</h1>
        <h2>ועכשיו לקצת טקסט בעברית.</h2>
        <p>זה מראה אופניים על מפה. אם זה אדום, אין אופניים. אם זה כחול, אין חניה. אם זה לבן, הכל בסדר.</p>
        <div class="footer">
            <ul class="h">
                <li><a href="{% url about %}" id="about">אודות</a></li>
                <li><a href="#" id="about">API</a></li>
                <li><a href="#" id="about">צור קשר</a></li>
                <li>כל הזכויות שמורות &copy; 2012</li>
        </div>
    </div>

    <div class="flyout secondary" id="stationflyout" data-state="{% block stationflyout_state %}hidden{% endblock stationflyout_state %}">
        {% block stationflyout %}
        {% endblock stationflyout %}
    </div>

    <div class="flyout secondary" id="aboutflyout" data-state="{% block aboutflyout_state %}hidden{% endblock aboutflyout_state %}">
        {% block aboutflyout %}
        <a href="{% url home %}" class="close-flyout">&#10006;</a>
        <h2>אודות Telostats</h2>
        <section id="about">
            <p>Telostats פותח כדי לתת מענה למשתמשי שירות תל-אופן על מנת שיוכלו לבצע שימוש מוצלח יותר בשירות.</p>
        </section>
        <section id="api">
            <p>כל המידע ממערכת Telostats פתוח וחופשי לכל משתמש. קוד המקור שלנו זמין בGithub (<a href="https://github.com/idan/telostats">כאן</a> ו<a href="https://github.com/idan/telostats-tiles">כאן</a>). המידע של Telostats זמין בAPI סטנדרטי.</p>
        </section>
        <section id="people">
            <p>Telostats פותח על ידי <a href="http://y3xz.com">יובל אדם</a> ו<a href="http://gazit.me">עידן גזית</a>.</p>
        </section>
        {% endblock aboutflyout %}
    </div>
{% endblock body %}

{% block body_js %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore.js"></script>
    <script src="//d3js.org/d3.v2.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.uncompressed.js'></script>

    <script>
        TILESERVER_URL = "{{ tileserver_url }}";
    </script>
    <script src="{% static 'js/jquery.pjax.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock body_js %}