{% extends "base.html" %}

{% block extra_head %}
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.5/mapbox.css' rel='stylesheet'>
{% endblock extra_head %}

{% block body %}
    <div id="map"></div>
{% endblock body %}

{% block body_js %}
    {{ block.super }}
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.5/mapbox.js'></script>
    <script>
        mapbox.auto('map', 'idan.map-8isjwg7h');
    </script>
{% endblock body_js %}