/* flyouts */

$flyout-width: 400px;
$flyout-vpadding: 10px;
.flyout {
    direction: rtl;
    position: absolute;
    color: #444;
    width: $flyout-width;
    right: 0;
    top: $flyout-vpadding;
    bottom: $flyout-vpadding;
    padding: 1em;
    @include border-left-radius(2px);
    background: #eee;
    border: 1px solid #888;
    opacity: 1.0;
    @include transition(right 0.2s ease-in-out, opacity 0.2s linear);
    @include box-shadow(0 0 10px 3px rgba(0,0,0,0.25));
    z-index: 10;
    &.secondary {
        width: $flyout-width - 3;
        z-index: 20;
    }
    &.hidden {
        right: -$flyout-width;
        opacity: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
    }

    .close-flyout {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px;
        font-size: 1.3em;
        text-decoration: none;
    }

    section {
        h1 {
            font-size: 1em;
            text-align: center;
            text-shadow: 0 -1px 0 rgba(255,255,255,0.5);
            &.hidden {
                display: none;
            }
        }
        padding: 1em 0;
    }
}