/* Map */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #444;
}

#d3svg {
    position: absolute;
}

.station {
    @mixin choropleth($color) {
        .station_cell {
            fill: $color;
        }
        &:hover {
            .station_cell {
                stroke-width: 2px;
                stroke-opacity: 0.7;
            }
            .station_dot {
                stroke-width: 6px;
                stroke: black;
                fill: black;
            }
        }
    }

    .station_dot {
        @include transition(all 0.2s linear);
    }

    .station_cell {
        stroke: black;
        stroke-opacity: 0.1;
        fill-opacity: 0.5;
        @include transition(all 0.2s linear);
    }

    &[data-bucket="0"] { @include choropleth($color-0); }
    &[data-bucket="1"] { @include choropleth($color-1); }
    &[data-bucket="2"] { @include choropleth($color-2); }
    &[data-bucket="3"] { @include choropleth($color-3); }
    &[data-bucket="4"] { @include choropleth($color-4); }

    &.loading .station_cell {
        opacity: 0;
    }
    &.selected {
        .station_dot {
            stroke-width: 6px;
            stroke: black;
        }
        .station_cell {
            stroke-width: 2px;
            stroke-opacity: 0.9;
        }
    }

}


#stations {
    fill: rgba(0,0,0,0.75);
    stroke: rgba(255,255,255,0.75);
    stroke-width: 1;
}
