/* Station detail flyout */

.station-name {
    display: inline;
}

.station-id {
    display: inline;
    margin-right: 0.2em;
}

.station-map-wrap {
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
}

.station-map {
    height: 200px;
    width: 100%;
}