/* Station detail flyout */

.station-name {
    display: inline;
}

.station-id {
    display: inline;
    margin-right: 0.2em;
}

.station-slider-wrap {

}

.station-slider {
    margin: 2em 0;
    width: 100%;
    text-align: center;
    @include border-radius(2px);
    border: 1px solid #ccc;
    @include box-shadow(0 0 7px 0px rgba(0,0,0,0.1));
    overflow: hidden;
    .empty, .ok, .full {
        position: relative;
        display: block;
        height: 1.5em;
        margin: 0;
        padding: 0;
        float: left;
    }
    .empty {
        background-color: $color-1;
        border-left: 9px solid $color-0;
        width: 25%;
    }
    .ok {
        background-color: white;
        width: 50%;
    }
    .full {
        background-color: $color-3;
        border-right: 9px solid $color-4;
        width: 25%;
    }
    .marker {
        border-right: 2px solid #000;
        position: absolute;
        height: 1.5em;
        z-index: 100;
    }
}

.station-map-wrap {
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
}

.station-map {
    height: 200px;
    width: 100%;
}
