@import "normalize";
@import "bourbon/bourbon";

@include font-face($font-family: "Almoni",
                   $file-path: "../fonts/almoni-dl-aaa-300",
                   $weight: 300,
                   $style: normal);

@include font-face($font-family: "Almoni",
                   $file-path: "../fonts/almoni-dl-aaa-700",
                   $weight: 700,
                   $style: normal);

* {
    @include box-sizing(border-box);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Almoni";
    font-weight: 300;
    overflow-x: hidden;
}


// pink-blue palette
$color-0: #dd2ea3;
$color-1: #ffafe5;
$color-2: transparentize(rgb(247,247,247), 0.3);
$color-3: #94e1ff;
$color-4: #18b4f1;

// brewer red-blue palette
// $color-0: rgb(202,0,32);
// $color-1: rgb(244,165,130);
// $color-2: rgb(247,247,247);
// $color-3: rgb(146,197,222);
// $color-4: rgb(5,113,176);

@import "map";
@import "flyouts";
@import "station_detail";
@import "about";
@import "footer";
