<a href="{% url home %}" class="close-flyout">&#10006;</a>
<section class="l-station-map">
    <h1 class="hidden">מפת תחנה</h1>
    <div class="station-map-wrap">
        <div class="station-map map" data-id="{{ station.id }}" data-lat="{{ station.latitude }}" data-lon="{{ station.longitude }}" data-available="{{ station.available_poles }}" data-poles="{{ station.poles }}"></div>
    </div>
</section>
<h2 class="station-name">{{ station.name }} <small>({{ station.id }})</small></h2>

<section class="station-slider-wrap">
    <h1 class="hidden">סטטוס התחנה</h1>
    <div class="station-slider">
        <div class="label">ריק</div>
        <div class="station-slider-bar">
            <div class="empty"></div>
            <div class="ok"></div>
            <div class="full"></div>
        </div>
        <div class="label">מלא</div>
    </div>
</section>

<section class="station-timelines">
    <h1>היסטוריה</h1>
    <p>XXX need intro copy here</p>
    <div class="timeline history-timeline" data-id="{{ station.id }}"></div>
</section>


